.fleet-container {
  padding: 30px;
}

.fleet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 20px;
}

table {
  width: 100%;
}

h2 {
  font-size: 28px;
  font-weight: 600;
}
